# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "6aadfbb258f7e9349b401e3196ab7679"
name = "products-app"
application_url = "https://app.enjob.ca"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://app.enjob.ca/auth/callback",
  "https://app.enjob.ca/auth/shopify/callback",
  "https://app.enjob.ca/api/auth/callback"
]
